<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">{{title}}</div>
            <div class="col-xs-4">{{title}}</div>
            <div class="col-xs-4">{{title}}</div>
        </div>
    </div>
</body>

</html>